'fileTypes': [
  'tex'
]
'name': 'LaTeX'
'patterns': [
  {
    'name': 'constant.character.escape.latex'
    'match': '(\\\\)([%$\\[\\]\\{\\}])'
  }
  {
    'name': 'comment.latex'
    'match': '(%[^\\n]*)'
  }
  {
    'name': 'keyword.control.latex'
    'match': '(\\\\(documentclass))((\\[)([^\\]]*)(\\]))?((\\{)([^\\]]*)(\\}))'
  }
  {
    'name': 'keyword.control.include.latex'
    'match': '(\\\\(usepackage|include|input|nobibliography|bibliography))((\\[)([^\\]]*)(\\]))?((\\{)([^\\]]*)(\\}))'
  }
  {
    'name': 'support.function.latex'
    'match': '(\\\\[a-zA-Z]\\w+)'
  }
  {
    'name': 'punctuation.definition.arguments.begin.latex'
    'match': '(\\{)'
  }
  {
    'name': 'punctuation.definition.arguments.end.latex'
    'match': '(\\})'
  }
]
'scopeName': 'text.tex.latex'
