'.text.tex.latex':
  'editor':
    'commentStart': '% '
    'increaseIndentPattern': '^\\s*\\\\begin\\{.*\\}'
    'decreaseIndentPattern': '^\\s*\\\\end(\\{.*\\})?$'
'.text.tex':
  'editor':
    'commentStart': '% '
